name: ci
on:
  workflow_dispatch
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Build
        run: docker compose up -d --build
      - name: Test
        run: docker-compose exec --no-TTY app uv run pytest
